:root {
  --boxcolor: #0ff7;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.scene {
  position: relative;
}

.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: lightblue;
}

.cube {
  width: 2em;
  height: 2em;
  background: var(--boxcolor);
}

.floor {
  width: 5em;
  height: 5em;
  background-image: repeating-conic-gradient(
    from 45deg,
    #111 0deg 90deg,
    #222 90deg 180deg
  );
  background-size: 1em 1em;
}
